@page "/"
@inject ISnackbar Snackbar
<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => Snackbar.Add("Simple Snackbar"))">
            Open Snackbar
        </MudButton>
    </Authorized>
</AuthorizeView>
<h1>Witaj świecie</h1>

Witam w aplikacji Bormech!
@code

{

}
