@page "/profile"
@using Bormech.Client.Pages.Componets.Profile
@* TODO: Refactor this method to improve readability *@
<TemplateHeader Title="Profil" />
<div class="mt-5">
<MudTabs Elevation="1" Rounded="true" PanelClass="mt-8">
    <MudTabPanel Text="Główny">
    <General/>
        </MudTabPanel>
    <MudTabPanel Text="Powiadomienia">
    </MudTabPanel>
    <MudTabPanel Text="Hasło">
        <TabPassword/>
    </MudTabPanel>
</MudTabs>
</div>
@code {
/*
 TODO: - Refactor this method to improve readability
 FIXME: - Add error handling
*/

}